[client]
port = 3306
default-character-set = utf8mb4

[mysqld]
port = 3306
bind-address = 0.0.0.0
skip-name-resolve
skip-external-locking
skip-host-cache

datadir   = /var/lib/mysql/
pid-file  = /var/run/mysqld/mysqld.pid
socket    = /var/run/mysqld/mysqld.sock
log-error = /var/log/mysql/error.log

default_authentication_plugin = mysql_native_password

secure_file_priv = ""

# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2

# general_log = on
# general_log_file = /data/log/mysql/mysql.log

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# User is ignored when systemd is used (fedora >= 15).
user = mysql

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

# Memory settings.
key_buffer_size = 1G
max_allowed_packet = 100M
table_open_cache = 2048
sort_buffer_size = 1M
read_buffer_size = 1M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 64M
thread_stack = 192K
thread_cache_size = 286
max_connections = 1500
max_connect_errors = 1000
# Other settings.
wait_timeout = 28800

# InnoDB settings.
innodb_file_per_table = 1
innodb_buffer_pool_size = 2G
innodb_log_file_size = 512M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 1
innodb_lock_wait_timeout = 50

[mysqldump]
quick
max_allowed_packet = 64M

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

[mysql]
no-auto-rehash
default-character-set = utf8mb4

[mysqld_safe]
pid-file = /var/run/mysqld/mysqld.pid

